/* Start Our Framework */

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 1200px;
    margin: auto;
    position: relative;
}

.table{
    height: 100%;
    display: table;
}

.table-row{
    display: table-row;
}

.text-center{
    text-align: center;
}

.upper{
    text-transform: uppercase;
}

.main-color{
    color: #f7600e;
}

.main-background{
    background-color: #f7600e;
}

.overlay{
    background: rgba(49, 55, 61, 0.9);
    width: 100%;
    height: 100%;
}

.hidden{
    display: none;
}

::-webkit-input-placeholder{
    font-size: 14px;
}

::-moz-input-placeholder{
    font-size: 14px;
}

::-ms-input-placeholder{
    font-size: 14px;
}

::-o-input-placeholder{
    font-size: 14px;
}

/* End Our Framework */

/* Start Header */

.header{
    background: url('../img/hrader_stock.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    color: #fff;
}

.header .navbar{
    overflow: hidden;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header .navbar .logo{
    font-size: 30px;
}

.header .navbar .links{
    float: right;
}

.header .navbar .links i{
    margin: 5px;
}

.header .intro h1{
    margin: 0;
    font-size: 50px;
    font-weight: 800;
}

.header .intro p{
    margin: 10px 0 40px;
    line-height: 1.9;
    font-size: 20px;
    color: #e2e2e2;
}

.header .buttons button{
    background: transparent;
    padding: 10px 0;
    width: 180px;
    font-size: 14px;
    border: 1px solid #909090;
    margin: 0px;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.header .buttons button:hover{
    background-color: #f7600e;
    border: 1px solid #f7600e;
    color: #fff;
}

.header .arrow{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

.header .arrow i{
    border: 2px solid #7b7b7b;
    height: 40px;
    width: 40px;
    line-height: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

/* End Header */

/* Start Features */

.features{
    padding: 80px 0;
    overflow: hidden;
}

.features .box{
    width: 22%;
    float: left;
    margin-right: 4%;
}

.features .box i{
    color: #f7600e;
    border: 1px solid #ccc;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.features .box i:hover{
    background-color: #f7600e;
    border: 1px solid #f7600e;
    color: #fff;
}

.features .box h3{
    text-transform: uppercase;
    font-weight: normal;
    color: #505050;
}

.features .box p{
    line-height: 2;
    color: #888;
}

.features .box:last-child{
    margin-right: 0;
}

/* End Features */

/* Start Subscribe */

.subscribe{
    background: url('../img/subscribe.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}

.subscribe form{
    padding: 100px 0;
    width: 700px;
    margin: auto;
    text-align: center;
}

.subscribe form input[type="email"]{
    border: none;
    padding: 0 10px;
    width: 320px;
    font-size: 20px;
    position: relative;
    top: 2px;
    height: 37px;
    line-height: 37px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.subscribe form button{
    padding: 10px;
    width: 200px;
    background-color: #f7600e;
    border: none;
    color: #fff;
    margin-left: 20px;
    font-size: 14px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* End Subscribe */

/* Start Our Work */

.our-work{
    padding: 50px 0;
}

.our-work h2{
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 0;
}

.our-work h2 ~ p{
    line-height: 2;
    margin: 10px 0 40px;
}

.our-work .show-more{
    background: transparent;
    border: 1px solid #ccc;
    width: 180px;
    padding: 10px;
    margin-top: 20px;
    color: #555;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.our-work .show-more:hover{
    background-color: #f7600e;
    border: 1px solid #f7600e;
    color: #fff;
}

.our-work .items-box{
    overflow: hidden;
}

.our-work .items-box .item{
    float: left;
    width: 30%;
    height: 403px;
    overflow: hidden;
    margin-left: 1.333333%;
    margin-bottom: 12px;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.our-work .items-box .item:hover .over{
    display: block;
}

.our-work .items-box .item .over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 96, 14, 0.9);
    color: #fff;
    display: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.our-work .items-box .item .over h4{
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 0;
}

.our-work .items-box .item .over p{
    margin-top: 10px;
    margin-bottom: 50px;
    line-height: 2;
}

.our-work .items-box .item .over button{
    background-color: transparent;
    border: 1px solid #fff;
    width: 180px;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.our-work .items-box .item .over button:hover{
    background-color: #fff;
    border: 1px solid #fff;
    color: #f7600e;
}

/* End Our Work */

/* Start Testimonials */

.testim{
    background: url('../img/testimonials.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}

.testim .client{
    padding: 50px 0;
    color: #fff;
    font-size: 20px;
}

.testim .client img{
    width: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testim .client p{
    line-height: 2;
    font-style: italic;
}

.testim .fa-chevron-right,
.testim .fa-chevron-left{
    position: absolute;
    top: 40%;
    color: #999;
    cursor: pointer;
}

.testim .fa-chevron-right:hover,
.testim .fa-chevron-left:hover{
    color: #f7600e;
}

.testim .fa-chevron-right{
    right: 0;
}

.testim .fa-chevron-left{
    left: 0;
}

/* End Testimonials */

/* Start Our Team */

.our-team{
    padding: 50px 0;
}

.our-team h2{
    font-size: 35px;
    margin-bottom: 0;
}

.our-team p{
    margin: 10px 0 40px;
    line-height: 2;
    color: #666;
    font-size: 20px;
}

.our-team .the-team{
    overflow: hidden;
}

.our-team .the-team .person{
    float: left;
    margin-left: 1%;
    overflow: hidden;
    width: 23%;
    color: #888;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.our-team .the-team .person:hover{
    color: #555;
}

.our-team .the-team .person:hover img{
    filter: none;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.our-team .the-team .person:hover .fa-facebook-f{
    background-color: #3b5998;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.our-team .the-team .person:hover .fa-instagram{
    background-color: #c13584;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.our-team .the-team .person:hover .fa-twitter{
    background-color: #1da1f2;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.our-team .the-team .person:hover .fa-facebook-f:hover{
    color: #3b5998;
    background-color: #fff;
    border: 1px solid #3b5998;
}

.our-team .the-team .person:hover .fa-instagram:hover{
    color: #c13584;
    background-color: #fff;
    border: 1px solid #c13584;
}

.our-team .the-team .person:hover .fa-twitter:hover{
    color: #1da1f2;
    background-color: #fff;
    border: 1px solid #1da1f2;
}

.our-team .the-team .person img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: all .3s ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-filter: grayscale(1);
}

.our-team .the-team .person p{
    font-size: 15px;
}

.our-team .the-team .person .social-icons i{
    background-color: #9da1a5;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* End Our Team */

/* Start Contact Form */

.contact{
    background: url('../img/city.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}

.contact .overlay{
    padding: 50px 0;
    color: #fff;
}

.contact h2{
    font-size: 35px;
}

.contact form{
    width: 700px;
    text-align: center;
    margin:  50px auto;
    overflow: hidden;
}

.contact form input[type="text"],
.contact form input[type="email"]{
    width: 48%;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact form input[type="text"]{
    float: left;
}

.contact form input[type="email"]{
    float: right;
}

.contact form textarea{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    height: 140px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact form .info{
    overflow: hidden;
    margin-top: 10px;
}

.contact form .info button{
    float: left;
    padding: 10px;
    width: 200px;
    background-color: #f7600e;
    border: none;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

.contact form .info .form-icons i{
    float: right;
    background-color: #9da1a5;
    color: #fff;
    width: 40px;
    height: 40px;
    margin-left: 3px;
    line-height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contact form .info .form-icons .fa-facebook-f{
    background-color: #3b5998;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.contact form .info .form-icons .fa-instagram{
    background-color: #c13584;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.contact form .info .form-icons .fa-twitter{
    background-color: #1da1f2;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.contact form .info .form-icons .fa-facebook-f:hover{
    color: #3b5998;
    background-color: #fff;
    border: 1px solid #3b5998;
}

.contact form .info .form-icons .fa-instagram:hover{
    color: #c13584;
    background-color: #fff;
    border: 1px solid #c13584;
}

.contact form .info .form-icons .fa-twitter:hover{
    color: #1da1f2;
    background-color: #fff;
    border: 1px solid #1da1f2;
}

/* End Contact Form */

/* Start Footer */

.footer{
    background-color: #3b434c;
    color: #fff;
    overflow: hidden;
    padding: 30px 0;
}

.footer .copyright{
    float: left;
}

.footer .design{
    float: right;
}

/* End Footer */